.Rproj.user
.Rhistory
.RData
.Ruserdata

# Garder outputs/ mais ignorer les gros fichiers raster
outputs/*.tif
outputs/*.zip

# Données spatiales lourdes
*.shp
*.dbf
*.prj
*.shx

# Sentinel brut (trop lourd)
inst/sentinel_data/

# Divers
*.zip
.httr-oauth
.DS_Store
.quarto